:root {
  --brand-blue: #0f3d99;
  --primary-blue: #0d60c5;
  --deep-black: #16233d;
  --bright-yellow: #ffc800;
  --action-green: #008542;
  --pure-white: #fff;
  --dm-primary-blue: #47b6ff;
  --dm-deep-black: #14171f;
  --dm-bright-yellow: #ffd500;
  --dm-action-green: #3dd98c;
  --dm-pure-white: #eeeffb;
  --sky-blue: #f2f6ff;
  --aqua-blue: #d1eaff;
  --text-gray: #5a6270;
  --medium-gray: #c5cad6;
  --border-gray: #e6eaf5;
  --light-gray: #f0f5f9;
  --extra-light-gray: #fafbfd;
  --deep-green: #006633;
  --highlight-yellow: #ffea80;
  --light-green: #e6f5e8;
  --primary-blue-hover: #0e6bdb;
  --action-green-hover: #00994d;
  --dm-deep-gray: #1c202b;
  --dm-text-gray: #a7b9db;
  --dm-medium-gray: #242a38;
  --dm-border-gray: #373d4d;
  --dm-light-gray: #2b3140;
  --dm-extra-light-gray: #373f52;
  --dm-highlight-blue: #0585db;
  --dm-primary-blue-hover: #5cbeff;
  --dm-action-green-hover: #44f29c;
  --dm-slate-blue: #334980;
  --accent-orange: #ff441f;
  --accent-cyan: #70c6ff;
  --accent-purple: #9d50c7;
  --dm-accent-orange: #ff5c5c;
  --fs-4: 4rem;
  --fs-3-5: 3.5rem;
  --fs-3: 3rem;
  --fs-2-5: 2.5rem;
  --fs-2: 2rem;
  --fs-1-75: 1.75rem;
  --fs-1-5: 1.5rem;
  --fs-1-25: 1.25rem;
  --fs-1-125: 1.125rem;
  --fs-1: 1rem;
  --fs-0-875: 0.875rem;
  --fs-0-8: 0.8rem;
  --fs-0-75: 0.75rem;
  --lh-lg: 1.6em;
  --lh-md: 1.4em;
  --lh-sm: 1.2em;
  --lh-xs: 1.1em;
  --lh-xxs: 1em;
  --br-none: 0;
  --br-sm: 0.25rem;
  --br-md: 0.375rem;
  --br-lg: 0.5rem;
  --sp-5: 5rem;
  --sp-4: 4rem;
  --sp-3: 3rem;
  --sp-2: 2rem;
  --sp-2-neg: -2rem;
  --sp-1-875: 1.875rem;
  --sp-1-5: 1.5rem;
  --sp-1-25: 1.25rem;
  --sp-1: 1rem;
  --sp-0-875: 0.875rem;
  --sp-0-75: 0.75rem;
  --sp-0-5: 0.5rem;
  --sp-1-neg: -1rem;
  --sp-0-5-neg: -0.5rem;
  --sp-0-375: 0.375rem;
  --sp-0-375-neg: -0.375rem;
  --sp-0-25: 0.25rem;
  --sp-0-25-neg: -0.25rem;
  --sp-0-125: 0.125rem;
  --sp-0-125-neg: -0.125rem;
  --sp-0: 0;
  --default-shadow: 0 4px 32px 2px rgb(3 15 39 / 16%);
}
h1 {
  font-weight: 700;
  font-size: var(--fs-2-5);
  line-height: var(--lh-sm);
  margin-top: var(--sp-2);
  margin-bottom: var(--sp-2);
  letter-spacing: -0.01em;
}
h2 {
  font-weight: 700;
  font-size: var(--fs-1-75);
  line-height: var(--lh-sm);
  margin-top: var(--sp-3);
  margin-bottom: var(--sp-2);
}
h3 {
  font-weight: 700;
  font-size: var(--fs-1-5);
  line-height: var(--lh-md);
  margin-top: var(--sp-3);
  margin-bottom: var(--sp-2);
}
h4 {
  font-weight: 700;
  font-size: var(--fs-1-25);
  line-height: var(--lh-lg);
  margin-top: var(--sp-2);
  margin-bottom: var(--sp-1);
}
h5 {
  font-weight: 700;
  font-size: var(--fs-1);
  line-height: var(--lh-md);
  margin-top: var(--sp-2);
  margin-bottom: var(--sp-1);
}
h6 {
  font-weight: 700;
  font-size: var(--fs-0-875);
  line-height: var(--lh-md);
  margin-top: var(--sp-2);
  margin-bottom: var(--sp-1);
}
.button {
  display: inline-block;
  padding: var(--fs-1-25);
  border-radius: var(--br-lg);
  background-color: var(--action-green);
  transition: all 160ms ease;
  color: var(--pure-white);
  font-size: var(--fs-1-25);
  line-height: var(--lh-md);
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
@media only screen and (prefers-color-scheme: dark) {
  .button {
    background-color: var(--dm-action-green);
    color: var(--dm-deep-black);
  }
}
.button:hover {
  background-color: var(--action-green-hover);
}
@media only screen and (prefers-color-scheme: dark) {
  .button:hover {
    background-color: var(--dm-action-green-hover);
  }
}
.button.btn-blue {
  background-color: var(--primary-blue);
}
.button.btn-blue:hover {
  background-color: var(--primary-blue-hover);
}
@media only screen and (prefers-color-scheme: dark) {
  .button.btn-blue {
    background-color: var(--dm-primary-blue);
  }
  .button.btn-blue:hover {
    background-color: var(--dm-primary-blue-hover);
  }
}
.button.btn-outline {
  border: 1px solid var(--border-gray);
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-gray);
  font-weight: 500;
}
.button.btn-outline:hover {
  background-color: var(--light-gray);
}
@media only screen and (prefers-color-scheme: dark) {
  .button.btn-outline {
    border: 1px solid var(--dm-border-gray);
    background-color: rgba(0, 0, 0, 0);
    color: var(--dm-text-gray);
  }
  .button.btn-outline:hover {
    background-color: var(--dm-extra-light-gray);
    border: 1px solid var(--dm-border-gray);
    color: var(--dm-text-gray);
  }
}
.button.btn-outline-blue {
  border: 1px solid var(--border-gray);
  background-color: var(--pure-white);
  color: var(--primary-blue);
  font-weight: 600;
}
.button.btn-outline-blue:hover {
  border-color: var(--accent-cyan);
  background-color: var(--aqua-blue);
  color: var(--brand-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  .button.btn-outline-blue {
    border-color: var(--dm-border-gray);
    background-color: var(--dm-medium-gray);
    color: var(--dm-pure-white);
  }
  .button.btn-outline-blue:hover {
    background-color: var(--dm-extra-light-gray);
    border-color: var(--dm-border-gray);
    color: var(--dm-pure-white);
  }
}
.button.btn-filter {
  padding-top: var(--fs-0-875);
  padding-bottom: var(--fs-0-875);
  border: 1px solid var(--border-gray);
  border-radius: 100rem;
  background-color: var(--pure-white);
  color: var(--primary-blue);
  font-size: var(--fs-1);
  font-weight: 500;
}
.button.btn-filter:hover {
  border-color: var(--accent-cyan);
  background-color: var(--aqua-blue);
  color: var(--brand-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  .button.btn-filter {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: var(--dm-medium-gray);
    color: var(--dm-pure-white);
  }
  .button.btn-filter:hover {
    background-color: var(--dm-extra-light-gray);
    color: var(--dm-pure-white);
    border: 1px solid rgba(0, 0, 0, 0);
  }
}
.button.btn-filter.btn-filter-active {
  border-color: var(--primary-blue);
  background-color: var(--primary-blue);
  color: var(--pure-white);
}
@media only screen and (prefers-color-scheme: dark) {
  .button.btn-filter.btn-filter-active {
    border: 1px solid var(--dm-primary-blue);
    background-color: var(--dm-primary-blue);
    color: var(--dm-deep-black);
  }
  .button.btn-filter.btn-filter-active:hover {
    background-color: var(--dm-primary-blue);
  }
}
.button.btn-style-tab {
  color: var(--text-gray);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: var(--sp-0-5) 0 var(--sp-0-375);
  font-weight: 400;
  line-height: var(--lh-lg);
}
.button.btn-style-tab:hover {
  color: var(--deep-black);
}
.button.btn-style-tab.is-active {
  color: var(--primary-blue);
  border-bottom-color: var(--primary-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  .button.btn-style-tab.is-active {
    color: var(--dm-primary-blue);
    border-bottom-color: var(--dm-primary-blue);
  }
}
@media only screen and (prefers-color-scheme: dark) {
  .button.btn-style-tab {
    color: var(--dm-text-gray);
  }
  .button.btn-style-tab:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--pure-white);
  }
}
.button.btn-style-menu {
  background-color: rgba(13, 96, 197, 0.5);
  padding: var(--sp-1);
  font-size: var(--fs-1);
  font-weight: 500;
}
.button.btn-style-menu:hover {
  background-color: var(--primary-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  .button.btn-style-menu {
    color: var(--pure-white);
    background-color: rgba(57, 64, 82, 0.8);
  }
  .button.btn-style-menu:hover {
    background-color: var(--dm-extra-light-gray);
  }
}
.button.btn-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button.btn-with-icon svg {
  width: 1rem;
  height: 1rem;
  margin-right: var(--sp-0-375);
}
.button.btn-full {
  width: 100%;
}
.btn-size-medium {
  padding: var(--sp-1);
  font-size: var(--fs-1-125);
}
.btn-size-small {
  padding: var(--sp-0-75);
  font-size: var(--fs-1);
}
.btn-size-tiny {
  padding: var(--sp-0-5);
  border-radius: var(--br-md);
  font-size: var(--fs-1);
  font-weight: 600;
}
.card {
  overflow: hidden;
  border: 1px solid var(--border-gray);
  border-radius: var(--br-lg);
  background-color: var(--pure-white);
  padding: var(--sp-1);
}
@media only screen and (prefers-color-scheme: dark) {
  .card {
    border: 1px solid var(--dm-deep-black);
    background-color: var(--dm-medium-gray);
  }
}
.card.is-menu {
  max-height: 680px;
  overflow: auto;
  box-shadow: var(--default-shadow);
  padding: 0;
}
@media only screen and (prefers-color-scheme: dark) {
  .card.is-menu {
    border-color: var(--dm-border-gray);
  }
}
.card-fancy {
  position: relative;
  padding: var(--sp-1-5);
  border-radius: var(--br-lg);
  background-color: var(--aqua-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  .card-fancy {
    background-color: var(--dm-medium-gray);
  }
}
.card-inner {
  display: flex;
  align-items: flex-start;
}
.card-content {
  flex: 1;
}
.wrapper-flex-startend {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.icon-tiny {
  display: flex;
  width: 0.625rem;
  height: 0.625rem;
}
.icon-xsmall {
  display: flex;
  width: 0.75rem;
  height: 0.75rem;
}
.icon-small {
  display: flex;
  width: 1rem;
  height: 1rem;
}
.icon-medium {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
}
.icon-large {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
}
.icon-xlarge {
  width: 2.25rem;
  height: 2.25rem;
}
.icon-huge {
  width: 4rem;
  height: 4rem;
}
.is-cheveron {
  color: var(--medium-gray);
  margin-top: var(--sp-0-5);
  margin-right: var(--sp-0-375);
  flex-shrink: 0;
}
@media only screen and (prefers-color-scheme: dark) {
  .is-cheveron {
    color: var(--dm-text-gray);
    opacity: 0.6;
  }
}
.is-cheveron.icon-xsmall {
  margin-top: 0.425rem;
}
.is-cheveron.transform {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.list-item {
  display: flex;
  align-items: flex-start;
}
.list-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--sp-0-75);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: var(--br-md);
  color: var(--pure-white);
  background-color: var(--primary-blue);
  flex-shrink: 0;
}
@media only screen and (prefers-color-scheme: dark) {
  .list-item-icon {
    background-color: var(--dm-primary-blue);
    color: var(--dm-deep-black);
  }
}
.icon-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.icon-and-description {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: var(--sp-0-75);
  margin-right: var(--sp-0-75);
  line-height: var(--lh-sm);
}
.icon-and-description img {
  margin-right: var(--sp-0-375);
}
.icon-and-description span {
  font-size: var(--fs-0-875);
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-margin-top {
  margin-top: 0;
}
.margin-vertical-medium {
  margin-top: var(--sp-2);
  margin-bottom: var(--sp-2);
}
.margin-vertical-xlarge {
  margin-top: var(--sp-4);
  margin-bottom: var(--sp-4);
}
.section-padding {
  padding-right: var(--sp-2);
  padding-left: var(--sp-2);
}
.layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: var(--sp-1);
  grid-column-gap: var(--sp-1);
  align-items: stretch;
}
.grid-3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 767px) {
  .grid-3-cols {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 479px) {
  .grid-3-cols,
  .layout-grid {
    grid-template-columns: 1fr;
  }
  .list-item-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: var(--fs-0-75);
  }
  .section-padding {
    padding-right: var(--sp-1);
    padding-left: var(--sp-1);
  }
  .card.is-menu {
    height: 100%;
    max-height: none;
    border-style: none;
    border-radius: var(--br-none);
    padding-bottom: var(--sp-2);
  }
}
.text-style-capitalized {
  text-transform: uppercase;
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
@media only screen and (prefers-color-scheme: dark) {
  * {
    border: unset;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
strong {
  font-weight: 700;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.clear {
  clear: both;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: var(--pure-white);
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  line-height: var(--lh-lg);
  color: var(--deep-black);
  overflow-wrap: break-word;
}
@media only screen and (prefers-color-scheme: dark) {
  body {
    background: var(--dm-deep-black);
    color: var(--dm-pure-white);
  }
}
p:not(:empty) {
  margin-bottom: var(--sp-2);
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
li {
  list-style: none;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.container-medium {
  width: 100%;
  max-width: 824px;
  margin-left: 0;
  margin-right: auto;
}
.container.text-container {
  margin-bottom: var(--sp-3);
}
div.main-wrapper {
  padding: 0 var(--sp-2);
}
section.entry-content a {
  color: var(--primary-blue);
  font-weight: 500;
}
@media only screen and (prefers-color-scheme: dark) {
  section.entry-content a {
    color: var(--dm-primary-blue);
  }
}
section.entry-content a:hover {
  text-decoration: underline;
}
img,
iframe {
  max-width: 100%;
}
@media only screen and (prefers-color-scheme: dark) {
  img {
    opacity: 0.95;
  }
}
.entry-content img {
  height: auto;
}
.entry-content p > img {
  border-radius: var(--br-lg);
}
.button .subtext {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: var(--fs-0-75);
  line-height: var(--lh-sm);
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}
.pointer {
  cursor: pointer;
}
.alignright {
  float: right;
  margin: 1em 0 1em 1em;
}
.alignleft {
  float: left;
  margin: 1em 1em 1em 0;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section.entry-content {
  font-size: var(--fs-1);
  margin: var(--sp-3) auto var(--sp-2);
}
section.entry-content .pros-cons-item {
  margin-top: var(--sp-1);
  margin-bottom: var(--sp-1);
}
section.entry-content .pros-cons-item.pro .list-item-icon {
  background-color: var(--action-green);
}
@media only screen and (prefers-color-scheme: dark) {
  section.entry-content .pros-cons-item.pro .list-item-icon {
    background-color: var(--dm-action-green);
  }
}
section.entry-content .pros-cons-item.con .list-item-icon {
  background-color: var(--accent-orange);
}
@media only screen and (prefers-color-scheme: dark) {
  section.entry-content .pros-cons-item.con .list-item-icon {
    background-color: var(--dm-accent-orange);
  }
}
section.entry-content > p > img {
  border-radius: var(--br-lg);
}
section.faqSection section.entry-content,
body.page:not(.home) section.faqSection section.entry-content {
  margin: 0;
}
section.entry-content > * {
  max-width: 824px;
  margin-right: auto;
}
.single-vegashero_games section.entry-content > * {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0;
}
.single-vegashero_games section.free-slots-game {
  padding: 0;
}
.single-vegashero_games .entry-content {
  margin: 0;
}
.single-vegashero_games .container.text-container {
  margin-bottom: var(--sp-0-25);
}
section.entry-content > div.wp-caption {
  max-width: 824px;
}
ol {
  counter-reset: item;
  padding-left: 40px;
}
.entry-content ol {
  margin: var(--sp-2) 0;
}
ol li::before {
  content: counter(item);
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: var(--sp-0-75);
  background-color: var(--primary-blue);
  color: var(--pure-white);
  text-align: center;
  text-indent: 0;
  border-radius: var(--br-md);
  font-weight: 700;
  line-height: 28px;
}
@media only screen and (prefers-color-scheme: dark) {
  ol li::before {
    background-color: var(--dm-primary-blue);
    color: var(--dm-deep-black);
  }
}
ol li {
  counter-increment: item;
  margin-bottom: var(--sp-0-5);
  text-indent: -40px;
}
.entry-content ol li {
  margin-bottom: var(--sp-1);
}
.entry-content ul:not(#smart-table):not(#vh-lobby-posts),
.intro-section ul:not(#smart-table) {
  padding-left: 40px;
  margin: var(--sp-2) 0;
}
.entry-content ul:not(#smart-table):not(#vh-lobby-posts) li,
.intro-section ul:not(#smart-table) li {
  margin-bottom: var(--sp-1);
  text-indent: -40px;
}
.entry-content ul:not(#smart-table):not(#vh-lobby-posts) li::before,
.intro-section ul:not(#smart-table) li::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: var(--sp-0-75);
  background-color: var(--primary-blue);
  background-image: url(../img/checkmark-icon.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--br-md);
  vertical-align: bottom;
}
@media only screen and (prefers-color-scheme: dark) {
  .entry-content ul:not(#smart-table):not(#vh-lobby-posts) li::before,
  .intro-section ul:not(#smart-table) li::before {
    background-image: url(../img/checkmark-icon-dark.svg);
    background-color: var(--dm-primary-blue);
  }
}
table:not(.editTransTable) {
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: var(--br-lg);
  overflow: hidden;
}
@media only screen and (prefers-color-scheme: dark) {
  table:not(.editTransTable) {
    border-collapse: collapse;
    border-radius: var(--br-lg);
    overflow: hidden;
    border: 1px solid var(--dm-border-gray);
  }
}
table:not(.editTransTable).is-white {
  border: 1px solid var(--border-gray);
}
table:not(.editTransTable).is-white th,
table:not(.editTransTable).is-white td {
  background-color: var(--pure-white);
  border: 1px solid var(--border-gray);
}
@media only screen and (prefers-color-scheme: dark) {
  table:not(.editTransTable).is-white {
    border: 1px solid var(--dm-deep-black);
  }
  table:not(.editTransTable).is-white th,
  table:not(.editTransTable).is-white td {
    background-color: var(--dm-medium-gray);
    border: 1px solid var(--dm-deep-black);
  }
}
table:not(.editTransTable) th,
table:not(.editTransTable) td {
  padding: var(--sp-0-75);
  min-width: 6.5rem;
  line-height: var(--lh-md);
  vertical-align: top;
}
table:not(.editTransTable) th {
  background-color: var(--accent-cyan);
  text-align: left;
  font-weight: 700;
}
@media only screen and (prefers-color-scheme: dark) {
  table:not(.editTransTable) th {
    background-color: var(--dm-primary-blue);
    color: var(--dm-deep-black);
  }
}
table:not(.editTransTable) td {
  background-color: var(--aqua-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  table:not(.editTransTable) td {
    background-color: var(--dm-medium-gray);
    color: var(--pure-white);
  }
}
table,
th,
td {
  border: 1px solid #fff;
}
@media only screen and (prefers-color-scheme: dark) {
  table,
  th,
  td {
    border: 1px solid var(--dm-deep-black);
  }
}
.table-wrapper {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: var(--sp-2) 0;
}
.table-wrapper::-webkit-scrollbar {
  display: none;
}
.brand-comparison-table td {
  min-width: 9.5rem;
}
.brand-comparison-table br {
  display: none;
}
.brand-comparison-table svg {
  width: 1rem;
  height: 1rem;
  color: var(--bright-yellow);
}
@media only screen and (prefers-color-scheme: dark) {
  .brand-comparison-table svg {
    color: var(--dm-bright-yellow);
  }
}
.brand-comparison-table td:not(.row-headline) {
  font-weight: 500;
}
.brand-comparison-table .row-headline {
  color: var(--text-gray);
}
@media only screen and (prefers-color-scheme: dark) {
  .brand-comparison-table .row-headline {
    color: var(--dm-text-gray);
  }
}
.brand-comparison-table .cta-button {
  display: inline-block;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--action-green);
  transition: all 160ms ease;
  color: var(--pure-white);
  font-size: 1rem;
  line-height: 1.4em;
  font-weight: 700;
  text-align: center;
}
@media only screen and (prefers-color-scheme: dark) {
  .brand-comparison-table .cta-button {
    background-color: var(--dm-action-green);
    color: var(--dm-deep-black);
  }
}
blockquote {
  display: flex;
  padding: var(--sp-1-5);
  align-items: flex-start;
  border-radius: var(--br-lg);
  background-color: var(--aqua-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  blockquote {
    background-color: var(--dm-medium-gray);
  }
}
blockquote p {
  margin: 0 !important;
}
blockquote::before {
  content: "";
  width: 36px;
  height: 36px;
  margin-right: var(--sp-1);
  margin-bottom: var(--sp-1);
  flex: 0 0 auto;
  background-image: url(../../../bonusfinder/images/bf_icon_qm.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 36px 36px;
}
.last-updated {
  display: block;
  width: auto;
  margin-top: var(--sp-2);
  margin-bottom: var(--sp-2);
  color: var(--dm-deep-black);
  font-size: var(--fs-0-875);
  line-height: var(--lh-md);
  font-style: italic;
}
@media only screen and (prefers-color-scheme: dark) {
  .last-updated {
    color: unset;
  }
}
.homepage-content-section {
  padding-right: var(--sp-2);
  padding-bottom: var(--sp-4);
  padding-left: var(--sp-2);
  background-image: linear-gradient(
    180deg,
    var(--pure-white),
    var(--sky-blue) 16%
  );
}
@media only screen and (prefers-color-scheme: dark) {
  .homepage-content-section {
    background-image: unset;
    background-color: rgba(0, 0, 0, 0);
  }
}
.homepage-content-section > div:last-child {
  margin-bottom: 0 !important;
}
.homepage-info-section {
  position: relative;
  overflow: hidden;
  padding: var(--sp-1) var(--sp-2);
  background-color: var(--pure-white);
}
@media only screen and (prefers-color-scheme: dark) {
  .homepage-info-section {
    background-color: var(--dm-deep-black);
  }
}
.highlight-block img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: var(--sp-1);
  border-radius: var(--br-lg);
}
.highlight-block h4 a {
  font-weight: inherit;
}
.highlighted-text {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
  background-color: var(--dm-highlight-blue);
  margin-top: var(--sp-1);
}
.clear-after::after {
  display: block;
  content: "";
  clear: both;
}
section#content p.meta-data {
  display: flex;
  align-items: center;
  font-size: var(--fs-0-875);
  line-height: var(--lh-lg);
}
section#content p.meta-data .author {
  color: var(--primary-blue);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
span.stars,
span.stars span {
  display: inline-block;
  height: 12px;
  width: 70px;
  background-image: url(../../../bonusfinder/images/bf-star_new.svg);
  background-position: 0 -12px;
  background-repeat: repeat-x;
}
span.stars span {
  background-position: 0 0;
  text-indent: -9999px;
  display: block;
}
.info-section {
  position: relative;
  overflow: hidden;
  padding-right: var(--sp-2);
  padding-left: var(--sp-2);
  background-color: var(--pure-white);
  background-image: linear-gradient(180deg, var(--pure-white), var(--sky-blue));
}
@media only screen and (prefers-color-scheme: dark) {
  .info-section {
    background-color: unset;
    background-image: none;
  }
}
div.wp-caption {
  max-width: 100%;
  overflow: hidden;
  border-radius: var(--br-lg);
  margin: var(--sp-2) 0;
}
div.wp-caption p {
  margin-bottom: 0;
}
div.wp-caption img {
  display: block;
  height: auto;
  max-width: 100%;
}
div.wp-caption p.wp-caption-text {
  padding: var(--sp-0-5) var(--sp-0-75);
  background-color: var(--deep-black);
  color: var(--pure-white);
  line-height: var(--lh-lg);
  font-size: var(--fs-0-75);
}
@media only screen and (prefers-color-scheme: dark) {
  div.wp-caption p.wp-caption-text {
    background-color: var(--dm-deep-gray);
    color: unset;
  }
}
.embed-player {
  position: relative;
  padding-bottom: 56.23%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: var(--dm-deep-black);
  margin: 5px;
}
.embed-player .vimeo-player-inner {
  padding: 56.25% 0 0 0;
  position: relative;
}
.embed-player.vimeo-player {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  background-repeat: repeat;
  border-radius: var(--br-lg);
  background-color: rgba(0, 0, 0, 0);
}
.embed-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0);
}
.embed-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  transition: 0.4s all;
}
.embed-player .play-wrapper {
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 128px;
  background-color: var(--pure-white);
  box-shadow: var(--default-shadow);
  transition: -webkit-transform 240ms ease;
  transition: transform 240ms ease;
  transition: transform 240ms ease, -webkit-transform 240ms ease;
  cursor: pointer;
}
.embed-player .play-wrapper .play {
  background-image: url(../../../bonusfinder/images/bf-video-play_btn.svg);
  background-size: 64px 64px;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 64px;
  height: 64px;
}
.embed-player .play-wrapper:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}
.embed-player .title {
  position: absolute;
  left: 16px;
  top: 16px;
  right: auto;
  bottom: auto;
  display: flex;
  padding: var(--sp-0-25) 10px;
  align-items: center;
  border-radius: var(--br-sm);
  background-color: var(--pure-white);
  box-shadow: none;
  color: var(--primary-blue);
  font-size: var(--fs-0-75);
  font-weight: 400;
}
.embed-player .title::before {
  content: "";
  display: inline-block;
  background-image: url(../../../bonusfinder/images/bf-video-info-icon.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  margin-right: var(--sp-0-375);
}
.featured-image {
  margin-top: var(--sp-1-5);
}
.featured-image img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--br-lg);
}
.tc-title {
  flex: 1;
  opacity: 0.8;
}
.tc-title .link {
  display: inline-block;
  font-weight: 500;
  text-decoration: underline;
}
.tc-title a {
  text-decoration: underline;
}
.tc-content {
  font-size: var(--fs-0-75);
  color: var(--text-gray);
}
@media only screen and (prefers-color-scheme: dark) {
  .tc-content {
    color: var(--dm-text-gray);
  }
}
.tc-content {
  width: 100%;
  padding: var(--sp-0-25) var(--sp-0-5);
  background-color: var(--extra-light-gray);
  border-top: 1px solid var(--border-gray);
  line-height: var(--lh-md);
}
@media only screen and (prefers-color-scheme: dark) {
  .tc-content {
    border-top-color: var(--dm-border-gray);
    background-color: var(--dm-light-gray);
  }
}
.tc-content .full-terms a {
  color: var(--primary-blue);
  font-weight: 500;
}
.hero-cutout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
}
@media only screen and (prefers-color-scheme: dark) {
  .hero-cutout {
    display: none;
  }
}
.bonusfinder-tip .title {
  display: flex;
  margin-bottom: var(--sp-1);
  align-items: center;
  font-size: var(--fs-1-25);
  font-weight: 700;
}
.bonusfinder-tip .tip-icon {
  margin-right: var(--sp-0-75);
}
body.error404 .intro-wrapper {
  margin: var(--sp-3) auto 0;
  padding-bottom: var(--sp-3);
}
.bonuscode {
  display: inline-block;
  padding-right: var(--sp-0-25);
  padding-left: var(--sp-0-25);
  border-radius: var(--sp-0-25);
  background-color: var(--bright-yellow);
  color: var(--deep-black);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media only screen and (prefers-color-scheme: dark) {
  .bonuscode {
    border: 1px solid var(--bright-yellow);
    background-color: rgba(0, 0, 0, 0);
    color: var(--bright-yellow);
  }
}
@media only screen and (max-width: 860px) {
  body.page.no-toplist section.entry-content > * {
    max-width: 100%;
  }
  section.entry-content > div.wp-caption {
    max-width: 100%;
  }
  section.entry-content > .table-wrapper {
    max-width: unset;
  }
}
@media only screen and (max-width: 991px) {
  div.entry-content-headlines {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .table-wrapper,
  section.entry-content > .table-wrapper {
    margin: 0 -2rem;
    padding: 0 var(--sp-2);
  }
  div.mobile-text .hidden-element-on-small {
    display: none;
  }
  div.show-more.hidden-element-on-small {
    display: inline;
  }
  .show-more.hidden-on-small,
  .show-more.show-more-detailed {
    display: none !important;
  }
  div.one-post div.content h2 a:hover {
    text-decoration: none;
  }
  div.review-summary div.rating {
    margin-bottom: 15px;
  }
  .mobile-hidden {
    display: none;
  }
  .homepage-top-wrapper p.hidden-element-on-small {
    display: none;
  }
  section.entry-content > * {
    max-width: 100%;
  }
  section.entry-content > .table-wrapper {
    max-width: unset;
  }
  section.entry-content ul li.break-text-on-mobile {
    word-break: break-all;
  }
  img.alignright {
    display: block;
    float: none;
    margin-left: 0;
  }
  img.alignleft {
    display: block;
    float: none;
    margin-right: 0;
  }
  .homepage-info-section {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 479px) {
  section.entry-content h1 {
    margin-top: var(--sp-2);
  }
  section.entry-content div.content-table-wrapper {
    margin-top: var(--sp-0-75);
    margin-bottom: var(--sp-0-75);
  }
  section.entry-content {
    margin-top: var(--sp-2);
  }
  section.entry-content > * {
    margin-top: var(--sp-2);
    margin-bottom: var(--sp-2);
  }
  h1 {
    margin-bottom: var(--sp-0-5);
    font-size: var(--fs-1-75);
  }
  h2 {
    font-size: var(--fs-1-5);
  }
  h3 {
    margin-bottom: var(--sp-1);
    font-size: var(--fs-1-125);
  }
  .subheading {
    font-size: var(--fs-1);
  }
  blockquote {
    display: flex;
    padding: var(--sp-1);
    flex-direction: column;
  }
  body.no-toplist h2.homepage-headline {
    padding-left: 20px;
    padding-right: 20px;
  }
  .homepage-info-section {
    padding-right: var(--sp-1);
    padding-left: var(--sp-1);
  }
  .homepage-info-section .text-container .entry-content {
    margin-top: 0;
  }
  .homepage-content-section {
    padding-right: var(--sp-1);
    padding-left: var(--sp-1);
  }
  .highlight-block img {
    margin-right: var(--sp-0-75);
  }
  .table-wrapper,
  section.entry-content > .table-wrapper {
    margin: 0 -1rem;
    padding: 0 var(--sp-1);
  }
  .card-fancy {
    padding: var(--sp-1);
  }
  .card-inner {
    position: relative;
    display: block;
  }
  .entry-content ul li::before,
  .intro-section ul li::before,
  ol li::before {
    width: 1.5rem;
    height: 1.5rem;
    font-size: var(--fs-0-75);
    line-height: 1.5rem;
  }
}
body.no-toplist section.entry-content {
  margin-top: 0;
}
.hidden {
  display: none !important;
}
#header-v2 {
  position: relative;
  padding-right: var(--sp-2);
  padding-left: var(--sp-2);
  background-color: var(--brand-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  #header-v2 {
    background-color: var(--dm-deep-gray);
  }
}
#header-v2 > .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  padding-top: var(--sp-1);
  padding-bottom: var(--sp-1);
}
#header-v2 > .container.static {
  flex-direction: column-reverse;
  align-items: baseline;
  padding-bottom: 5px;
}
@media only screen and (max-width: 991px) {
  #header-v2 > .container.static {
    flex-direction: row-reverse;
    padding-bottom: var(--sp-1);
    align-items: center;
  }
}
.change-locale {
  min-width: 24px;
}
.change-locale > li {
  position: relative;
}
.change-locale .current-lang img {
  width: 22px;
  height: auto;
  display: block;
}
.change-locale-dropdown {
  width: 128px;
  position: absolute;
  top: 2rem;
  bottom: auto;
  left: auto;
  right: 0;
  background-color: var(--pure-white);
  border: 1px solid var(--border-gray);
  border-radius: var(--br-lg);
  overflow: hidden;
  box-shadow: var(--default-shadow);
  opacity: 0;
  transition: all 160ms ease;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  visibility: hidden;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  z-index: 101;
}
.change-locale-dropdown.active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: opacity 80ms linear, -webkit-transform 160ms ease;
  transition: opacity 80ms linear, transform 160ms ease;
  transition: opacity 80ms linear, transform 160ms ease,
    -webkit-transform 160ms ease;
  visibility: visible;
}
@media only screen and (prefers-color-scheme: dark) {
  .change-locale-dropdown {
    background-color: var(--dm-medium-gray);
    border-color: var(--dm-border-gray);
  }
}
.change-locale-dropdown li:hover {
  background-color: var(--light-gray);
}
@media only screen and (prefers-color-scheme: dark) {
  .change-locale-dropdown li:hover {
    background-color: var(--dm-extra-light-gray);
  }
}
.change-locale-dropdown a {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: var(--sp-0-5) var(--sp-1);
  font-weight: 500;
}
.change-locale-dropdown img {
  width: auto;
  height: 16px;
  margin-right: var(--sp-0-5);
}
.change-locale-dropdown div {
  text-transform: uppercase;
}
.menu-logo-wrapper {
  align-items: center;
  display: flex;
}
.header-logo {
  display: block;
  margin-right: var(--sp-0-5);
}
.top-bar {
  display: block;
  background-color: var(--accent-cyan);
  padding: var(--sp-0-75) var(--sp-2);
  cursor: pointer;
  font-size: var(--fs-0-875);
  line-height: var(--lh-md);
  text-align: center;
}
@media only screen and (prefers-color-scheme: dark) {
  .top-bar {
    background-color: var(--dm-primary-blue);
    color: var(--deep-black);
  }
}
@media only screen and (max-width: 767px) {
  .change-locale-dropdown li:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 767px) and (prefers-color-scheme: dark) {
  .change-locale-dropdown li:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 479px) {
  #header-v2,
  .top-bar {
    padding-left: var(--sp-1);
    padding-right: var(--sp-1);
  }
  #header-v2 .btn-style-menu div {
    display: none;
  }
  #header-v2 .btn-style-menu svg {
    margin-right: 0;
  }
  .header-logo {
    height: 2.5rem;
    width: auto;
  }
}
.menu-wrapper {
  position: absolute;
  width: 420px;
  top: 1rem;
  bottom: auto;
  left: auto;
  right: 0;
  opacity: 0;
  transition: all 160ms ease;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  visibility: hidden;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  z-index: 101;
}
.menu-wrapper.active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: opacity 80ms linear, -webkit-transform 160ms ease;
  transition: opacity 80ms linear, transform 160ms ease;
  transition: opacity 80ms linear, transform 160ms ease,
    -webkit-transform 160ms ease;
  visibility: visible;
}
.menu-wrapper .menu > li {
  position: relative;
  font-size: var(--fs-1-125);
  font-weight: 500;
  border-top: 1px solid var(--border-gray);
}
.menu-wrapper .menu > li > a {
  display: block;
  padding: var(--sp-1);
}
.menu-wrapper .menu > li > a:hover {
  background-color: var(--light-gray);
}
@media only screen and (prefers-color-scheme: dark) {
  .menu-wrapper .menu > li > a:hover {
    background-color: var(--dm-extra-light-gray);
  }
}
.menu-wrapper .menu > li:not(.night-mode-switcher) {
  display: block;
}
@media only screen and (prefers-color-scheme: dark) {
  .menu-wrapper .menu > li {
    border-top: 1px solid var(--dm-border-gray);
  }
}
.menu-wrapper .menu > li.menu-item-has-children > a {
  position: relative;
  cursor: pointer;
}
.menu-wrapper .menu > li [class*="icon"] {
  display: inline-block;
  color: var(--primary-blue);
  margin-top: 0;
}
@media only screen and (prefers-color-scheme: dark) {
  .menu-wrapper .menu > li [class*="icon"] {
    color: var(--dm-primary-blue);
    opacity: 1;
  }
}
.menu-wrapper .sub-menu {
  display: none;
  border-left: 1px solid var(--border-gray);
  margin: 0 var(--sp-1) var(--sp-1);
  padding-left: var(--sp-0-25);
  overflow: hidden;
}
.menu-wrapper .sub-menu.active {
  display: block;
}
@media only screen and (prefers-color-scheme: dark) {
  .menu-wrapper .sub-menu {
    border-left-color: var(--dm-border-gray);
  }
}
.menu-wrapper .all-menu-item ul li {
  padding: var(--sp-0-5) var(--sp-1) var(--sp-0-5) var(--sp-1-25);
}
.menu-wrapper .all-menu-item ul li a {
  font-size: var(--fs-1);
  color: var(--primary-blue);
}
.menu-wrapper .all-menu-item ul li a:hover {
  text-decoration: underline;
}
@media only screen and (prefers-color-scheme: dark) {
  .menu-wrapper .all-menu-item ul li a {
    color: var(--dm-primary-blue);
  }
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: var(--sp-1);
  background-color: var(--pure-white);
}
@media only screen and (prefers-color-scheme: dark) {
  .menu-header {
    background-color: var(--dm-medium-gray);
  }
}
.menu-popup-title {
  font-size: var(--fs-1-5);
  font-weight: 700;
}
.show-mobile {
  display: none !important;
}
.show-desktop {
  display: block;
  width: 100%;
}
.static-menu-container ul.sub-menu {
  display: none;
}
.static-menu-container ul.menu > li {
  position: relative;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: left;
  transition: color 120ms ease;
  color: rgba(5, 5, 31, 0.8);
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 600;
}
.static-menu-container ul.menu > li {
  transition: none;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  font-weight: 500;
}
.static-menu-container nav.main-menu ul.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.static-menu-container ul.menu > li {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: left;
  line-height: 1.2em;
  font-weight: 600;
}
.static-menu-container li.menu-item-has-children > a:after {
  background-image: url(../../../bonusfinder/images/down_arrow.svg);
  background-position: center center;
  background-size: 24px 24px;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.32;
  position: relative;
  top: 2px;
  margin-left: 10px;
}
.static-menu-container .sub-menu {
  display: block;
  min-width: auto;
  padding: 12px 10px 12px 10px !important;
  background: #fff;
  position: absolute;
  z-index: 100000;
  top: 45px;
  border-radius: 3px;
  box-shadow: 1px 1px 8px -2px rgba(10, 9, 55, 0.24);
  white-space: nowrap;
  margin-left: -20px;
  color: rgba(5, 5, 31, 0.8);
}
.static-menu-container nav.main-menu li.all-menu-item ul.sub-menu > li {
  flex-basis: 33.33%;
}
.static-menu-container nav.main-menu li.all-menu-item ul li a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.static-menu-container nav.main-menu ul.sub-menu li a:hover {
  background-color: #edf1fa;
}
.static-menu-container nav.main-menu ul.sub-menu li a {
  padding: 8px 20px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  display: block;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .show-mobile {
    display: flex !important;
  }
  .show-desktop {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .menu-wrapper .menu > li > a:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 767px) and (prefers-color-scheme: dark) {
  .menu-wrapper .menu > li > a:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 479px) {
  .menu-wrapper {
    width: 100%;
    height: auto;
    min-width: auto;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .menu-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }
}
footer#footer {
  background-color: var(--brand-blue);
  color: var(--pure-white);
  padding: 0 var(--sp-2);
}
@media only screen and (prefers-color-scheme: dark) {
  footer#footer {
    background-color: var(--dm-deep-gray);
    color: unset;
  }
}
footer#footer .container {
  padding: var(--sp-3) 0;
}
footer#footer .logo {
  display: flex;
  margin-bottom: var(--sp-1-5);
}
footer#footer .trust-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: var(--sp-1) 0;
}
footer#footer .trust-links img {
  height: 2rem;
  margin-top: var(--sp-1);
  margin-bottom: var(--sp-1);
  margin-right: var(--sp-1);
}
.footer-top {
  display: flex;
  padding-bottom: var(--sp-2);
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(112, 198, 255, 0.25);
}
@media only screen and (prefers-color-scheme: dark) {
  .footer-top {
    border-bottom-color: var(--dm-border-gray);
  }
}
.footer-logo-area {
  flex: none;
  margin-bottom: var(--sp-2);
}
.footer-logo-area .icon-row a {
  margin-right: var(--sp-0-75);
  color: var(--accent-cyan);
}
@media only screen and (prefers-color-scheme: dark) {
  .footer-logo-area .icon-row a {
    color: var(--dm-primary-blue);
  }
  .footer-logo-area .icon-row a:hover {
    color: var(--pure-white);
  }
}
.footer-logo-area .icon-row a:hover {
  color: var(--pure-white);
}
.footer-logo {
  height: 2.75rem;
}
.footer-menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: var(--sp-0-5);
}
.footer-menu > div {
  width: 100%;
  max-width: 14rem;
  flex: 1;
  padding-left: var(--sp-1-5);
  padding-right: var(--sp-1-5);
}
.footer-menu a {
  display: block;
  font-weight: 500;
  color: var(--accent-cyan);
  margin-top: var(--sp-0-5);
  margin-bottom: var(--sp-0-5);
}
@media only screen and (prefers-color-scheme: dark) {
  .footer-menu a {
    color: var(--dm-primary-blue);
  }
}
.footer-menu a:hover {
  text-decoration: underline;
}
.footer-menu .first-column > a {
  margin-top: 0;
  font-weight: 700;
  color: #fff;
}
.footer-nav-title {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.footer-mid {
  text-align: left;
  border-bottom: 1px solid rgba(112, 198, 255, 0.25);
  padding-top: var(--sp-2);
  padding-bottom: var(--sp-2);
  font-size: var(--fs-0-875);
  line-height: var(--lh-lg);
}
@media only screen and (prefers-color-scheme: dark) {
  .footer-mid {
    border-bottom-color: var(--dm-border-gray);
  }
}
.footer-bottom {
  padding-top: var(--sp-1);
  font-size: var(--fs-0-875);
}
.dmca-wrapper {
  margin: 9px var(--sp-0-75);
  vertical-align: middle;
  font-weight: bold;
  line-height: var(--lh-lg);
  font-family: Arial;
  font-size: var(--fs-0-75);
  text-transform: uppercase;
}
.dmca-wrapper > div {
  display: inline-block;
}
.dmca-wrapper > .dmca {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
  margin-right: -3px;
}
.dmca-wrapper > .dmca span {
  display: block;
  padding: 5px var(--sp-0-25);
}
footer#footer .dmca-wrapper > .dmca a {
  display: block;
  padding: 5px 4px;
}
.dmca-wrapper > .protected {
  background-color: var(--brand-blue);
}
.dmca-wrapper > .protected a {
  display: block;
  padding: 5px var(--sp-0-5);
}
.awards-section {
  display: flex;
  border-top: 1px solid rgba(112, 198, 255, 0.25);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--sp-1-5);
}
.award-logo {
  height: 2.5rem;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: var(--br-md);
  margin-top: var(--sp-0-5);
  margin-bottom: var(--sp-0-5);
  margin-right: var(--sp-1);
}
.footer-bottom-logos {
  display: flex;
  margin-top: var(--sp-1-5);
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.footer-bottom-logos img {
  height: 40px;
  margin: var(--sp-0-5) var(--sp-0-75);
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  footer#footer.bottom-float-active {
    padding-bottom: 60px;
  }
  .footer-top {
    display: block;
  }
  .footer-menu {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -1.5rem;
  }
  .footer-menu > div {
    max-width: none;
    flex: 0 50%;
    margin-bottom: var(--sp-2);
  }
}
@media only screen and (max-width: 479px) {
  footer#footer {
    padding: 0 var(--sp-1);
  }
  footer#footer .trust-links {
    margin: var(--sp-1) 0;
  }
  footer#footer .logo img {
    height: 40px;
    width: auto;
  }
  footer#footer.bottom-float-active {
    padding-bottom: 100px;
  }
  .footer-menu {
    display: block;
  }
  .awards-section {
    flex-direction: column;
    justify-content: center;
  }
}
.breadcrumbs.with-background-color,
.single-casino .breadcrumbs,
.single-social-casino .breadcrumbs,
.single-ontario-casino .breadcrumbs,
.single-ontario-betting .breadcrumbs,
.free-slots-page .breadcrumbs {
  background-color: var(--sky-blue);
}
@media only screen and (prefers-color-scheme: dark) {
  .breadcrumbs.with-background-color {
    background-color: var(--dm-deep-black);
  }
}
@media only screen and (prefers-color-scheme: dark) {
  .single-casino .breadcrumbs,
  .single-social-casino .breadcrumbs,
  .single-ontario-casino .breadcrumbs,
  .single-ontario-betting .breadcrumbs,
  .free-slots-page .breadcrumbs {
    background-color: unset;
  }
}
.breadcrumbs .container {
  color: var(--text-gray);
  font-size: var(--fs-0-75);
  line-height: var(--lh-lg);
  min-height: 32px;
  padding: var(--sp-0-75) 0 0;
  text-overflow: ellipsis;
}
@media only screen and (prefers-color-scheme: dark) {
  .breadcrumbs .container {
    color: var(--dm-text-gray);
  }
}
.toplist-section .breadcrumbs {
  padding: 0;
}
.breadcrumb-text a:hover {
  text-decoration: underline;
}
.toplist-page .breadcrumb-text {
  margin-bottom: var(--sp-0-75);
}
div.no-avis-casino .container {
  padding: var(--sp-0-75) 0;
}
.statebar-block {
  position: relative;
  background-color: var(--pure-white);
  border-bottom: 1px solid var(--border-gray);
}
@media only screen and (prefers-color-scheme: dark) {
  .statebar-block {
    border-top: 1px solid var(--dm-border-gray);
    border-bottom: none;
    background-color: var(--dm-medium-gray);
  }
}
.statebar-block .container {
  padding: var(--sp-0-75) 0;
}
.state-legal-text {
  display: flex;
  font-size: var(--fs-0-875);
  align-items: center;
}
.state-legal-text svg {
  margin-right: var(--sp-0-5);
  width: 1rem;
  height: 1rem;
}
@media only screen and (max-width: 1100px) {
  .breadcrumbs,
  .statebar-block {
    padding: 0 var(--sp-2);
  }
  .breadcrumb-text {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .breadcrumb-text::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .single-casino #header-v2,
  .single-social-casino #header-v2,
  .single-ontario-casino #header-v2,
  .single-ontario-betting #header-v2 {
    z-index: 1000;
  }
}
@media only screen and (max-width: 479px) {
  .breadcrumbs,
  .statebar-block {
    padding: 0 var(--sp-1);
  }
  .breadcrumbs a:hover {
    color: inherit;
  }
}
